@import url('reset.css');

/* =============== Global Variables =============== */
:root {

  /* Colors */
  --clr-soft-orange: hsl(35, 77%, 62%);
  --clr-soft-red: hsl(5, 85%, 63%);
  --clr-off-white: hsl(36, 100%, 99%);
  --clr-grayish-blue: hsl(233, 8%, 79%);
  --clr-dark-grayish-blue: hsl(236, 13%, 42%);
  --clr-very-dark-blue: hsl(240, 100%, 5%);

  /* Typography */
  --ff-primary: 'Inter', sans-serif;
  --fs-body: 0.9375rem;
  --fs-h1: 3.5rem;
  --fs-h2: 2.5rem;

  /* Spacing */
  --spacing-sm: 1.5em;
  --spacing-md: 2em;
  --spacing-lg: 4em;
  --spacing-xl: 8em;
}

/* =============== Global Styles =============== */
body {
  font-family: var(--ff-primary);
  color: var(--clr-primary);
}

h1 {
  font-size: var(--fs-h1);
  font-weight: 800;
  line-height: 1;
}

h2 {
  font-size: var(--fs-h2);
}

p {
  color: var(--clr-dark-grayish-blue);
}

a {
  text-decoration: none;
}

/* =============== Reusable Classes =============== */
.container {
  width: 90%;
  max-width: 1115px;
  margin: 0 auto;
}

.button {
  background: var(--clr-soft-red);
  padding: 1em 2em;
  color: var(--clr-off-white);
  font-size: 0.9em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.button:hover {
  background: var(--clr-very-dark-blue);
}

/* =============== Header Section =============== */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: var(--spacing-sm);
}

.header__logo {
  width: 45px;
}

.overlay {
  position: absolute;
  pointer-events: none;
  inset: 0;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.5s ease;
}

.open-menu .overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

.navbar {
  position: absolute;
  background: var(--clr-off-white);
  width: 70%;
  inset: 0 0 0 30%;
  padding: var(--spacing-xl) var(--spacing-md);
  transform: translateX(100%);

  transition: transform 0.5s ease;
}

.open-menu .navbar {
  transform: translateX(0);
}

.navbar__list {
  display: flex;
  gap: var(--spacing-sm);
  flex-direction: column;
}

.navbar__link {
  color: var(--clr-dark-grayish-blue);
}

.navbar__link:hover {
  color: var(--clr-soft-red);
}

/* =============== Hamburger Icon =============== */
.hamburger {
  width: 40px;
  height: 40px;
  cursor: pointer;
  background: none;
  border: none;
  z-index: 1;
}

.hamburger__line {
  display: block;
  background: var(--clr-very-dark-blue);
  width: 100%;
  height: 4px;

  transition: width 0.3s ease,
    margin 0.3s ease 0.2s,
    transform 0.3s ease 0.4s;
}

.hamburger__line+.hamburger__line {
  margin: 5px 0 0 0;
}

.open-menu .hamburger__line:nth-child(1) {
  transform: rotate(45deg);
  margin: 0 0 -9px 0;
}

.open-menu .hamburger__line:nth-child(2) {
  width: 0;
}

.open-menu .hamburger__line:nth-child(3) {
  transform: rotate(-45deg);
  margin: -4px 0 0 0;
}

/* =============== Main Section =============== */
.main {
  display: grid;
  gap: var(--spacing-md);
  padding-bottom: var(--spacing-md);
}

.promoted {
  display: grid;
  gap: var(--spacing-md);
}

.promoted__link {
  place-self: end start;
}

.new {
  background: var(--clr-very-dark-blue);
  padding: var(--spacing-md);
}

.new__title {
  color: var(--clr-soft-orange);
}

.new__item {
  padding-block: var(--spacing-sm);
  border-bottom: 1px solid var(--clr-dark-grayish-blue);
}

.new__item:last-child {
  padding-bottom: 0;
  border: none;
}

.new__link {
  color: var(--clr-off-white);
  font-size: 1.10em;
  font-weight: 800;
}

.new__link:hover {
  color: var(--clr-soft-orange);
}

.popular {
  display: flex;
  gap: var(--spacing-md);
  flex-direction: column;
}

.popular__item {
  width: 100%;
  display: grid;
  grid-template-columns: 100px 1fr;
  gap: var(--spacing-sm);
}

.popular__image {
  height: 100%;
  object-fit: cover;
}

.popular__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.popular__index {
  display: block;
  color: var(--clr-grayish-blue);
  font-size: 2em;
  font-weight: 700;
}

.popular__link {
  color: var(--clr-very-dark-blue);
  font-size: 1.10em;
  font-weight: 800;
}

.popular__link:hover {
  color: var(--clr-soft-red);
}

.popular__text {
  font-size: 0.9em;
}

/* =============== Media Queries =============== */
@media (min-width: 600px) {
  .mobile-only {
    display: none;
  }

  .header {
    padding-block: var(--spacing-lg);
  }

  .header__logo {
    width: auto;
  }

  .navbar {
    position: unset;
    width: unset;
    display: unset;
    transform: unset;
    padding: unset;
    inset: unset;
  }

  .navbar__list {
    flex-direction: unset;
    gap: var(--spacing-md);
  }

  .main {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    grid-template-areas:
      "promoted promoted"
      "popular new"
      "popular new";
  }

  .promoted {
    grid-area: promoted;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: max-content;
  }

  .promoted__image {
    grid-column: span 2;
  }

  .promoted__title {
    grid-row: span 2;
  }

  .new {
    grid-area: new;
  }

  .popular {
    grid-area: popular;
  }
}

@media (min-width: 1000px) {
  .main {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "promoted promoted new"
      "promoted promoted new"
      "popular popular popular";
  }

  .popular {
    flex-direction: row;
  }
}